<div class="container-fluid">    
<img class="img-responsive" src="../../assets/gempleados.gif" alt="" width="1550" height="740" style="max-width:100%;height:auto;border-radius: 20px;">
</div>


<br>
<div class="container-fluid">
    <div class="row">
      &nbsp;
      &nbsp;
      <div class="col-md-3" style="background-color: black; border-radius: 20px; color: white;">

            <img src="../../assets/icon.gif" alt="" class="circle" width="120" height="120" style="display: block; margin: auto;">
        

Codigo &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input  style="color: white;" class="col-6" type="text" [(ngModel)]="empleado.id"><br>
Nombre &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; <input style="color: white;" class="col-6" type="text" [(ngModel)]="empleado.nombre"><br>
Apellido Materno &nbsp; <input style="color: white;" class="col-6" type="text" [(ngModel)]="empleado.apellido_materno"><br>
Apellido Paterno &nbsp; <input style="color: white;" class="col-6"  type="text" [(ngModel)]="empleado.apellido_paterno"><br>
Puesto &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input style="color: white;" class="col-6" type="text" [(ngModel)]="empleado.puesto"><br>
Sueldo &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input style="color: white;" class="col-6" type="text" [(ngModel)]="empleado.sueldo"><br>


<br>
<a value="Guardar" (click)="guardarempleado()" class="waves-effect waves= btn-small"><i class="material-icons left">save</i>guardar</a>
&nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; 
<a value="Modificar" (click)="modificarempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">refresh</i>modificar</a>
<br><br>
<a  value="Eliminar" (click)="eliminarempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i>eliminar</a>
&nbsp; &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp; 
<a value="Consultar todo" (click)="consultartodoempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">zoom_in</i>consultar</a>
<br><br>


      </div>

      &nbsp;
      &nbsp;
      &nbsp; 
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <div class="col-md-8" style="background-color: black; border-radius: 20px; color: white;">
        <br>
        <table class="table table-striped table-dark" style="border-radius: 20px ;"> 
            <thead>
            <tr>
                <td>ID</td>
                <td>NOMBRE</td>
                <td>APELLIDO MATERNO</td>
                <td>APELLIDO PATERNO</td>
                <td>PUESTO</td>
                <td>SUELDO</td>
            </tr>
        </thead>
        <thead>
            <tr *ngFor="let emp of empleados | async | paginate: { itemsPerPage: 5, currentPage: p }">
                <td>{{ emp.id }}</td>
                <td>{{ emp.nombre }}</td>
                <td>{{ emp.apellido_paterno }}</td>
                <td>{{ emp.apellido_materno }}</td>
                <td>{{ emp.puesto }}</td>
                <td>{{ emp.sueldo }}</td>
                <a value="Consultar todo" (click)="editEste(emp)" class="fas fa-edit"></a>

            </tr>
        </thead>
        </table>

        <div style="background-color: white; color: white; width: 15vw;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

      </div>
    </div>
  </div>













<!--por si la cago, botones originales-->

<!--<input type="button" value="Guardar" (click)="guardarempleado()">
<input type="button" value="Modificar" (click)="modificarempleado()">
<input type="button" value="Eliminar" (click)="eliminarempleado()">
<input type="button" value="Consultar todo" (click)="consultartodoempleado()">-->






