<div class="black white-text center">
    <div class="container">

        <div class="row">
            <div align="center" class="col"><h1>Gestor de empleados</h1></div>
            
          </div>
    
    </div>
    
    <div align="center"  class="container-fluid section">
        <div class="row">
            <div class="col-4">
                <a href="#"> 
                    <img src="../../assets/icon.gif" alt="" class="circle" width="200" height="200">
                    </a>
    <br><br><br>
    <fieldset>
    Codigo<input class="col-4" type="text" [(ngModel)]="empleado.id"><br>
    Nombre<input class="col-4" type="text" [(ngModel)]="empleado.nombre"><br>
    Apellido materno<input class="col-4" type="text" [(ngModel)]="empleado.apellido_materno"><br>
    Apellido Paterno<input class="col-4"  type="text" [(ngModel)]="empleado.apellido_paterno"><br>
    Puesto<input class="col-4" type="text" [(ngModel)]="empleado.puesto"><br>
    Sueldo<input class="col-4" type="text" [(ngModel)]="empleado.sueldo"><br>
    </fieldset>
    
    
    <a value="Guardar" (click)="guardarempleado()" class="waves-effect waves= btn-small"><i class="material-icons left">save</i>guardar</a>
    <a value="Modificar" (click)="modificarempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">refresh</i>modificaar</a>
    <a  value="Eliminar" (click)="eliminarempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">delete</i>eliminar</a>
    <a value="Consultar todo" (click)="consultartodoempleado()" class="waves-effect waves-light btn-small"><i class="material-icons left">zoom_in</i>consultar</a>
    
            </div>
    
    
    
            <div class="col-8">
                <table class="table table-striped table-dark"> 
                    <thead>
                    <tr>
                        <td>ID</td>
                        <td>NOMBRE</td>
                        <td>APELLIDO PATERNO</td>
                        <td>APELLIDO MATERNO</td>
                        <td>PUESTO</td>
                        <td>SUELDO</td>
                    </tr>
                </thead>
                <thead>
                    <tr *ngFor="let emp of empleados | async">
                        <td>{{ emp.id }}</td>
                        <td>{{ emp.nombre }}</td>
                        <td>{{ emp.apellido_paterno }}</td>
                        <td>{{ emp.apellido_materno }}</td>
                        <td>{{ emp.puesto }}</td>
                        <td>{{ emp.sueldo }}</td>
                    </tr>
                </thead>
                </table>
            </div>
          </div>
    
    </div>
    

</div>





<!--por si la cago, botones originales-->

<!--<input type="button" value="Guardar" (click)="guardarempleado()">
<input type="button" value="Modificar" (click)="modificarempleado()">
<input type="button" value="Eliminar" (click)="eliminarempleado()">
<input type="button" value="Consultar todo" (click)="consultartodoempleado()">-->






