




<div class="row product-wrapper">
  <div class="col-sm-6 col-md-4 col-lg-3 product-item"
    *ngFor="let item of productItem"  >
    <div class="thumbnail">
      <img [src]="item.imageUrl"
        alt="{{item.name}}">
      <div class="caption">
        <h3>{{item.name}}</h3>
        <p>
          Price {{item.price}} MX
        </p>
        <button class="btn btn-primary"
          role="button"
          id={{item.id}}
          (click)="onCartUpdated($event)"
          >
          Add to Cart
        </button>
      </div>
    </div>
  </div>
  
</div>









<div class="container-fluid" >
    <div class="row" >
      <div class="col-12 col-md-8 " >

        <div class="card mb-3">
            <img class="card-img-top" src="../../assets/promocion1.gif" alt="Card image cap" width="250" height="350">
            <div class="card-body black white-text">
              <h1 >20 Tarimas Chep + 30 tarimas Tacon  <a class="btn-floating btn-large red pulse">-40%</a> </h1>
              <p class="card-text">Tres capas de madera de pino de la mejor temporada, aseguradas con tornillos de acero de nuestros mejores proveedores.</p>
              <br>
              <a class="waves-effect waves-light btn-small"><i class="material-icons left">add_shopping_cart</i>Encargar.</a> 
              

            <br><br>
            </div>
          </div>
      
      </div>

      <div class="col-6 col-md-4" >

        <div class="card" class="black white-text" style="border-radius: 20px;" >
            <img class="card-img-top" src="../../assets/promocion2.gif" alt="Card image cap" width="250" height="360">
            <div class="card-body">
              <h1>100 tarimas de plastico  <a class="btn-floating btn-large red pulse">-30%</a> </h1>
              <p class="card-text">La mejor opcion para comodidad de tu hogar.</p>
              <a class="waves-effect waves-light btn-small"><i class="material-icons left">add_shopping_cart</i>Encargar.</a> 
            </div>
            
          </div>

      </div>

    </div>

    </div>
