
  <div class="container">
    <div class="row style_featured">
        <div class="col-md-4">
            <div>
                <img src="../../assets/tarima1.png" alt="" class="img-rounded img-thumbnail"/>
                <h2>Item A</h2>
                <p style="text-align: left;">
                    <span class="fa fa-info-circle"></span>
                    A quality item for purchase. Features state of the art technology
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-bank "></span>
                    0% Financing available
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-calendar "></span>
                    12 months full warranty
                </p>
                <a class="btn" onclick="M.toast({html: 'Agregado a su lista', completeCallback: function(){alert('¡Oh no! Usted necesita iniciar sesion/Registrarse en esta pagina para poder hacer encargos')}})">Encargar</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img src="../../assets/tarima 2.png" alt="" class="img-rounded img-thumbnail"/>
                <h2>Item A</h2>
                <p style="text-align: left;">
                    <span class="fa fa-info-circle"></span>
                    A quality item for purchase. Features state of the art technology
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-bank "></span>
                    0% Financing available
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-calendar "></span>
                    21 months full warranty
                </p>
                <a class="btn" onclick="M.toast({html: 'Agregado a su lista', completeCallback: function(){alert('¡Oh no! Usted necesita iniciar sesion/Registrarse en esta pagina para poder hacer encargos')}})">Encargar</a>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <img src="http://www.prepbootstrap.com/Content/images/template/featureditems/product_003.jpg" alt="" class="img-rounded img-thumbnail"/>
                <h2>Item A</h2>
                <p style="text-align: left;">
                    <span class="fa fa-info-circle"></span>
                    A quality item for purchase. Features state of the art technology
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-bank "></span>
                    0% Financing available
                </p>
                <p style="text-align: left;">
                    <span class="fa fa-calendar "></span>
                    4 months full warranty
                </p>
                <a href="#" class="btn btn-success" title="More">more »</a>
            </div>
        </div>
    </div>


    


  
</div>


