* {
    box-sizing: border-box;
}

.cart-wrapper {
    /*border: 1px solid lightslategrey;*/
    color: darkslategray;
    padding: 10px;
    margin-top: 20px;
}


.panel-heading {
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    color: #436f85;
    display: flex;
    text-align: center;
}

.panel-heading > div {
    flex-grow: 1;
}

.panel-footer {
    text-align: right;
}
table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: black; 
	}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
    }
    #cssTable td 
{
    text-align: center; 
    vertical-align: middle;
}

/*////////////////////////////
  Responsive 
///////////////////////////*/ 
@media (max-width: 400.98px) { 
    .headerTabla{
        display: none;
    }

}
@media (min-width: 401px) and (max-width: 575.98px) { 
    .headerTabla{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    .headerTabla{
        display: none;
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	/* thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
    } */
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
    }
}