<div class="container-fluid">
   
    

    <div  class="parallax-container" >
       
        <div class="parallax" >
            <img  class="img-responsive" src="../../assets/hd1.gif" alt="">
        </div>
    </div>

    <div class="white black-text center">
        <div class="container">
        <div class="section">
            <h1>¡Roble 100% Mexicano!</h1>
                <h4>
                    Aunque existen muchas sub-especies podemos decir en términos generales que es una madera dura y resistente. Su veteado le da una apariencia muy característica. Actualmente la madera de roble se esta utilizado en toda clase parquet o suelos de madera ya que está muy de vanguardia.
                </h4>
        </div>
        </div>
     </div>


        <div class="parallax-container">
            <div class="parallax">
            <img  src="../../assets/roble.jpg" alt="">
            </div>
        </div>

 
    
    <div class="parallax-container">
    <div class="parallax">
       <img  src="../../assets/hd2.gif" alt="">
    </div>
    </div>
    
    <div class="black white-text center">
    <div class="container">
    <div class="section">
        <h1>¡Pino 100% Mexicano!</h1>
        <h4>
            La madera de pino es utilizada frecuente para suelos, aunque no porque sea la mejor opción, sino por su relación calidad/precio. Es decir, se trata de una opción decente a muy buen precio. Entre las virtudes de este tipo de tarima destacan que es fácil de trabajar, recibe bien los acabados y su apariencia es ideal para ambientes rústicos. Su principal desventaja para su utilización en suelos es que se trata de una madera blanda. Es frecuente también su uso en exteriores cuando recibe el tratamiento adecuado, generalmente autoclave.
        </h4>
    </div>
    </div>
    </div>
    
    
        <div class="parallax-container">
            <div class="parallax">
                <img  src="../../assets/2.1.jpg" alt="">
        </div>
        </div>

        <div class="black white-text center">
            <div class="container">
            <div class="section">
                <h1>¡Roble 100% MExicano!</h1>
                <h4>
                    Aunque existen muchas sub-especies podemos decir en términos generales que es una madera dura y resistente. Su veteado le da una apariencia muy característica. Actualmente la madera de roble se esta utilizado en toda clase parquet o suelos de madera ya que está muy de vanguardia.
                </h4>
            </div>
            </div>
            </div>
        </div>