
<!-- <h2>Nos ubicamos en: </h2><br>
<p>De Los Pinos 67-43, Las Liebres, 45623 San Pedro Tlaquepaque, Jal.</p> -->
<h1 style="text-align: center; margin: 5px;"><strong>Clima en la ciudad</strong></h1> 
<div class="d-flex justify-content-center">
  <iframe src="https://www.meteoblue.com/en/weather/widget/three/guadalajara_mexico_4005539?geoloc=fixed&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 70vw; height: 80vh"></iframe>
  <div><!-- DO NOT REMOVE THIS LINK -->
    <a href="https://www.meteoblue.com/en/weather/week/guadalajara_mexico_4005539?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank"></a>
  </div>
</div> 
<h1 style="text-align: center; margin: 5px;"><strong>Almacen 1</strong></h1> 
<div class="d-flex justify-content-center">
  <div style="display:inline-block">
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </div>
</div>
<h1 style="text-align: center; margin: 5px;"><strong>Almacen 2</strong></h1> 
<div class="d-flex justify-content-center">
  <div style="display:inline-block">
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </div>
</div>