<div class="container" style="background-color: white; color: black;" >
  <div class="section">
      <h1>¡Fundación!</h1>
      <div class="divider"></div>
     <h5 style="text-align: justify; font-size: 22px; font-weight: normal;">
      La empresa tiene sus orígenes en el oficio familiar que era el ser transportista, con lo cual, en 2005 Maria del Carmen Alvarez Rodríguez funda la empresa formalmente ya teniendo experiencia en el campo de la logística. La empresa prospero los años venideros y fue expandiéndose  para ir más aya de darle unicamente viajes a sus familiares con lo cual creció el numero de unidades terrestres hasta 10, teniendo ya unos buenos contactos, una oficina establecida en Corazon del mercado de abastos y rutas como lo son el aguacate, la papaya o el mango ataulfo de Nayarit, entre otros. 

Sin embargo conversando con otros empresarios del área de percances con las unidades así como el creciente negocio de robos se decide cambiar de giro.
     </h5 >
  </div>
  </div>

  <div class="container-gallery" style="margin-top: 1rem;">
    <div class="popup popup-1">
    <img class="img-fluid" alt="Pop Up Gallety"  style="width: 250px;" src="../../assets/carmen.jpg"/>
    </div>
    <div class="popup popup-2">
        <img class="img-fluid" alt="Pop Up Gallety" src="../../assets/trailer2.jpg" />
    </div>
    <div class="popup popup-3">
        <img class="img-fluid" alt="Pop Up Gallety" src="../../assets/roas.jpg" />
    </div>
    <div class="popup popup-4">
        <img class="img-fluid" alt="Pop Up Gallety" src="../../assets/tarimaCarro.png" />
    </div>
    <div class="popup popup-5">
        <img class="img-fluid" alt="Pop Up Gallety" src="../../assets/timas.jpg" />
    </div>
</div>

<div class="container" style="background-color: white; color: black;">
  <div class="section">

      <h1>Cambio de enfoque</h1>
      <div class="divider"></div>
          <h6 style="text-align: justify; font-size: 22px; font-weight: normal;">
            Con lo cual en 2010 se toma la iniciativa de pasar de la logística puramente a comenzar a fabricar y distribuir tarimas, la cual represente un peligro mucho menor al no ser una carga tan valorada, sin embargo el año siguiente fallece la fundadora inicial y el negocio pasa a manos de su hermanda Rosa Maria Alvarez Rodríguez, en esta ocasión se decide tratar de crecer de una forma más rápida generando múltiples alianzas con productores de madera y tarimas, aunque se tuvieron algunos problemas la empresa opera mejor que nunca en la actualizad.
          </h6>
  </div>
  </div>
  <div class="d-flex p-12">
  <div class="row mvv" style="background-color: black; border-radius: 20px; margin-top: 2rem; width: 90%; margin-left: 5vw">
    <div class="col-6 col-md-4">
      <br><br>
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../assets/mision.gif">
          </div>
          <div class="card-content">
            <span  class="card-title activator grey-text text-darken-4">Misión<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><strong style="font-size:5v;">Misión de NATOS</strong><i class="material-icons right">close</i></span>
            <p style="text-align: justify; font-size: large; font-size:3v; font-weight: normal;">Creamos soluciones a la medida para el resguardo y manejo de productos de la industria y comercio, a través de la fabricación de empaque y embalaje.
              Contando con Tecnología de punta y un equipo humano altamente competitivo y comprometido, superamos las expectativas de nuestros clientes y accionistas.</p>
          </div>
        </div>
    </div>
            
    <div class="col-6 col-md-4">
      <br>
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../assets/vision.gif">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Visión<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"> <strong style="font-size:5v;"> Visión de NATOS </strong><i class="material-icons right">close</i></span>
            <p style="text-align: justify; font-size: large; font-size:3v; font-weight: normal;">Ser la mejor empresa de empaque y embalaje, triunfadora y reconocida por sus sistemas y capital humano, enfocados en la satisfacción del cliente y sus accionistas, construyendo siempre un futuro promisorio para nuestros colaboradores y sociedad a la que pertenecemos.</p>
          </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
      <br><br>
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../../assets/valores.gif">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Valores<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"> <strong style="font-size:5v;"> Valores de NATOS </strong><i class="material-icons right">close</i></span>
            <p style="text-align: justify; font-size:3v; font-weight: normal;"><strong> › Ética y compromiso: </strong> procuramos llevar adelante nuestro negocio estableciendo relaciones justas y transparentes con las personas que trabajan en torno a nuestra organización. 
<br>
              <strong> › Participación y trabajo en equipo: </strong> creemos que la mejor forma de lograr un objetivo común es fomentar la participación, la cooperación y el trabajo en equipo. 
              <br>
            <strong> › Respeto por el medio ambiente, la seguridad y la salud: </strong> Procuramos hacer un uso racional de los recursos naturales, preservar el medio ambiente y la biodiversidad, sin comprometer el futuro de las generaciones venideras. 
          </div>
        </div>
        <br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      
      <div class="row">
          <div class="col-md-4">
              <div class="well">
                <h3 class="anio" align="center" style="background-color: black; color: white; border-radius: 20px;">2010</h3>
                  <img  class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/timas.jpg" style="border-radius: 20px;" />
              </div>
          </div>
          <div class="col-md-4">
              <div class="well">
                <h3 class="anio" align="center" style="background-color: black; color: white; border-radius: 20px;">2015</h3>
                <img  class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/Tarimas3.jpg" style="border-radius: 20px;"/></div>
          </div>
          <div class="col-md-4">
              <div class="well">
                <h3 class="anio" align="center" style="background-color: black; color: white; border-radius: 20px;">2020</h3>
                  <img class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/antes 2.jpg" style="border-radius: 20px;"/>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
              <div class="well">
                  <img class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/tarimaCarro.png" style="border-radius: 20px;"/>
              </div>
          </div>
          <div class="col-md-4">
              <div class="well">
                  <img class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/tarimas2.jpg" style="border-radius: 20px;"/>
              </div>
          </div>
          <div class="col-md-4">
              <div class="well">
                  <img class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/antes.jpeg" style="border-radius: 20px;"/>
              </div>
          </div>
      </div>

  </div>
</div>