<div class="container-fluid">
    <div class="row">
        <!--Galeria de los fundadores-->
      <div style="background-color: black; border-radius: 20px;" class="col-8 col-md-8 " >
        <br><br>
          <div class="container-fluid" align="center">
            <div class="section">
            <div class="container-gallery">
                <div class="popup popup-1">
                <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design2.jpg"  width="250" height="250"/>
                </div>
                <div class="popup popup-2">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design2.jpg" />
                </div>
                <div class="popup popup-3">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design3.jpg" />
                </div>
                <div class="popup popup-4">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design4.jpg" />
                </div>
                <div class="popup popup-5">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design5.jpg" />
                </div>
            </div>
          </div>
            
          <div class="divider"></div>
          <br>

            <div class="col-8 col-md-12 ">
                <div class="white black-text center" style="border-radius: 20px ;">
                    <div class="container">
                    <div class="section">

                        <h1>¡Siglas!</h1>
                        <div class="divider"></div>
                            <h6 style="text-align: justify;">
                               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex reiciendis sequi eligendi quam unde provident quasi iste debitis officia excepturi, vero doloribus quia eum esse, laboriosam, ipsum et placeat! Delectus.
                               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt sint consequatur et eos ipsa ipsum voluptas voluptatibus possimus corrupti necessitatibus doloribus, sapiente vero odio consectetur beatae adipisci aperiam expedita tempora.
                               Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, quidem. Eveniet doloribus nostrum adipisci eligendi esse deleniti, veniam similique delectus ut earum placeat ex ullam explicabo pariatur aspernatur debitis corporis.
                               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam iure non cum voluptates doloribus reiciendis minima quibusdam saepe atque placeat quod nulla quia, ad, vitae aliquid vero magni optio sit?
                               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, pariatur sapiente, molestiae inventore corporis dignissimos mollitia commodi voluptatem culpa minima maiores saepe animi veritatis tempore. Illum, eos! Tempore, ut. Corporis!

                            </h6>
                    </div>
                    </div>
                 </div>
            </div > 
            </div>
          <br>

      </div>
      <!--Final galeria de los fundadores-->

      <!--Texto acerda de los fundadores-->
      <div class="col-6 col-md-4">
        <div class="black white-text center" style="border-radius: 20px ;">
            <div class="container" >
            <div class="section">
                <h1>¡Fundación!</h1>
                <div class="divider"></div>
               <h5 style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci tempora vitae nihil ipsum a voluptas blanditiis sunt, est, doloremque nemo voluptatibus vel vero magni repudiandae error repellat neque. Rem!
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum debitis eligendi iusto consectetur, autem nobis laudantium hic facilis quo omnis error nostrum perferendis nisi illum cupiditate velit nemo. Aut, ab.
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum praesentium eaque et, consectetur hic dolorem aliquam earum beatae assumenda inventore voluptate maiores, reiciendis saepe, excepturi necessitatibus! Dolor modi at aliquid?
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo corrupti ut iste blanditiis non eligendi. Voluptatem a laborum voluptatibus iure blanditiis, deleniti eveniet officiis eos, cum dolorum esse magnam.
                   Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur nesciunt dolore nam repellendus odio magnam obcaecati est dolorem delectus assumenda tempora fuga illum impedit eaque doloremque officia reprehenderit, quam consequuntur?
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, eligendi? Earum architecto accusamus, expedita rerum inventore doloremque iste quo cupiditate temporibus. Eius animi doloremque unde blanditiis harum ex, voluptatum minima!
                   
               </h5>
            </div>
            </div>
            </div>
      </div>
      <!--Finale texto acerca de los fundadores-->


    </div>

    <div class="row" style="background-color: black; border-radius: 20px;">
      <div class="col-6 col-md-4">
        <br><br>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../assets/mision.gif">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Mision<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Mision de NATOS<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>
              
      <div class="col-6 col-md-4">
        <br>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../assets/vision.gif">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Vision<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Vision de NATOS<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
      </div>

      <div class="col-6 col-md-4">
        <br><br>
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="../../assets/valores.gif">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Valores<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Valores de NATOS<i class="material-icons right">close</i></span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
          </div>
          <br>
      </div>
    </div>
    <div class="row">

      <div class="col-7">

        <div>

        
          <div class="container">
              <div class="row">
                  
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                            <h3 align="center" style="background-color: black; color: white; border-radius: 20px;">2012</h3>
                              <img  class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/antes.jpeg" style="border-radius: 20px;" />
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                            <h3 align="center" style="background-color: black; color: white; border-radius: 20px;">2013</h3>
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h7.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h3.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h6.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h1.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h2.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="well">
                              <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h5.jpg" style="border-radius: 20px;"/>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
  
  
      
  </div>

      </div>

      <div class="col-5" style="border: none !important;">

        <img width="635" height="700"  src="../../assets/nosotros.png" alt="" style="border-radius: 20px;">

      </div>
    </div>
  </div>
<!--final de la grid-->





