<br><br>
<!--inicio de la grid-->
<div class="container-fluid">
    <div class="row">
        <!--Galeria de los fundadores-->
      <div style="background-color: black; border-radius: 20;" class="col-8 col-md-8 ">
        <br><br>
          <div class="container-fluid" align="center">
            <div class="container-gallery">
                <div class="popup popup-1">
                <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design1.jpg" />
                </div>
                <div class="popup popup-2">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design2.jpg" />
                </div>
                <div class="popup popup-3">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design3.jpg" />
                </div>
                <div class="popup popup-4">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design4.jpg" />
                </div>
                <div class="popup popup-5">
                    <img class="img-fluid" alt="Pop Up Gallety" src="http://www.prepbootstrap.com/Content/images/template/design/design5.jpg" />
                </div>
            </div>
            <br>

            <div class="col">
                <div class="white black-text center">
                    <div class="container">
                    <div class="section">
                        <h1>¡Siglas!</h1>
                            <h6>
                               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex reiciendis sequi eligendi quam unde provident quasi iste debitis officia excepturi, vero doloribus quia eum esse, laboriosam, ipsum et placeat! Delectus.
                               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt sint consequatur et eos ipsa ipsum voluptas voluptatibus possimus corrupti necessitatibus doloribus, sapiente vero odio consectetur beatae adipisci aperiam expedita tempora.

                            </h6>
                    </div>
                    </div>
                 </div>
                 <br>
            </div > 
            </div>
          

      </div>
      <!--Final galeria de los fundadores-->

      <!--Texto acerda de los fundadores-->
      <div class="col-6 col-md-4">
        <div class="black white-text center">
            <div class="container">
            <div class="section">
                <h1>¡Fundación!</h1>
               <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut adipisci tempora vitae nihil ipsum a voluptas blanditiis sunt, est, doloremque nemo voluptatibus vel vero magni repudiandae error repellat neque. Rem!
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum debitis eligendi iusto consectetur, autem nobis laudantium hic facilis quo omnis error nostrum perferendis nisi illum cupiditate velit nemo. Aut, ab.
                   Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum praesentium eaque et, consectetur hic dolorem aliquam earum beatae assumenda inventore voluptate maiores, reiciendis saepe, excepturi necessitatibus! Dolor modi at aliquid?
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus explicabo corrupti ut iste blanditiis non eligendi. Voluptatem a laborum voluptatibus iure blanditiis, deleniti eveniet officiis eos, cum dolorum esse magnam.
               </h5>
            </div>
            </div>
            </div>
      </div>
      <!--Finale texto acerca de los fundadores-->


    </div>
    <div class="row">
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
      <div class="col-6 col-md-4">.col-6 .col-md-4</div>
    </div>
    <div class="row">
      <div class="col-6">.col-6</div>
      <div class="col-6">.col-6</div>
    </div>
  </div>
<!--final de la grid-->





<div>

        
        <div class="container">
            <div class="row">
                
                <div class="row">
                    <div class="col-md-4">
                        <div class="well">
                            <img   class="thumbnail img-fluid" alt="Bootstrap template" src="../../assets/antes.jpeg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h8.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h4.jpg" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h7.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h3.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h6.jpg" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h1.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h2.jpg" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well">
                            <img class="thumbnail img-fluid" alt="Bootstrap template" src="http://www.prepbootstrap.com/Content/images/shared/houses/h5.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


    
</div>



