<h1 style="text-align: center; margin: 5px;"><strong>Clima en la ciudad</strong></h1> 
<div class="d-flex justify-content-center">
  <iframe src="https://www.meteoblue.com/en/weather/widget/three/guadalajara_mexico_4005539?geoloc=fixed&nocurrent=0&noforecast=0&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&layout=image"  frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 70vw; height: 80vh"></iframe>
  <div><!-- DO NOT REMOVE THIS LINK -->
    <a href="https://www.meteoblue.com/en/weather/week/guadalajara_mexico_4005539?utm_source=weather_widget&utm_medium=linkus&utm_content=three&utm_campaign=Weather%2BWidget" target="_blank"></a>
  </div>
</div> 
<h1 style="text-align: center; margin: 5px;"><strong>Temperatura en el almacen 1</strong></h1> 
<div class="d-flex justify-content-center">
  <div style="display:inline-block">
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </div>
</div>
<h1 style="text-align: center; margin: 5px;"><strong>Temperatura en el almacen 2</strong></h1> 
<div class="d-flex justify-content-center">
  <div style="display:inline-block">
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
    <iframe width="450px" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1114699/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&type=line&update=15"></iframe>
  </div>
</div>

<section id="contact">

    <h1 class="section-header">Contacto</h1>
    
    <div class="contact-wrapper">
      
        <!---------------- 
  
        CONTACT PAGE LEFT 
      
        -----------------> 
      
    <form id="formulario" ngNoForm class="form-horizontal" role="form" action="https://formspree.io/mjvaldnk" target="popup" method="POST">

        <div class="form-group">
            <div class="col-sm-12">
              <input required (keyup)='getAsunto($event.target.value)' type="text" class="form-control"  id="Asunto" placeholder="Asunto" name="Asunto" value="">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
            <input required (keyup)='getNombre($event.target.value)' type="text" class="form-control" id="name" placeholder="Nombre" name="Nombre" value="">
          </div>
        </div>
  
        <div class="form-group">
          <div class="col-sm-12">
            <input required (keyup)='getCorreo($event.target.value)' type="email" class="form-control" id="email" placeholder="Correo" name="Correo" value="">
          </div>
        </div>

          
        <div class="form-group">
            <div class="col-sm-12">
              <input  type="number" class="form-control" id="Numero" placeholder="Numero (opcional)" name="Numero" value="">
            </div>
        </div>

  
        <textarea required (keyup)='getTxt($event.target.value)' class="form-control" rows="10" id="txt" placeholder="Mensaje" name="Mensaje"></textarea>
        
        <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
          <div class="button">
            <span class="send-text">Correo</span><i class="far fa-envelope fa-xs"></i>
          </div>
        </button>
                
        
        <div style="background-color: greenyellow;" class="btn btn-primary send-button" id="wats">
          <div class="button" >
            <span class="send-text">Whatsapp</span>
            <a (click)="generateUrl();" class="fab fa-whatsapp fa-xs" style="text-decoration: none; font-size: 24px;" target="popup" 
            href="{{url}}"></a>
          </div>
        </div>

 
      </form>
      
        <!---------------- 
  
        CONTACT PAGE RIGHT 
      
        -----------------> 
      
        <div class="direct-contact-container">

            <div class="contact-info" class="contact-list">
                <div class="card">
                  <i class="icon fas fa-envelope"></i>
                  <div class="card-content">
                    <h3>Email</h3>
                    <span>contacto@natos.com</span>
                  </div>
                </div>
              
                <div class="card">
                  <i class="icon fas fa-phone"></i>
                  <div class="card-content">
                    <h3>Numero:</h3>
                    <span>+52 3333333333</span>
                  </div>
                </div>
              
                <div class="card">
                  <i class="icon fas fa-map-marker-alt"></i>
                  <div class="card-content">
                    <h3>Ubicacion</h3>
                    <span>Guadalajara, MX</span>
                  </div>
                </div>
              </div>


  
          <hr>
          <ul class="social-media-list">
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-facebook-square" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li><a href="#" target="_blank" class="contact-icon">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
            </li>
          </ul>
          <hr>
  

  
        </div>
      
    </div>
    
  </section>  
    
    


<div class="googleMap">
    <iframe style="pointer-events: auto;"  src="https://www.google.com/maps/d/u/0/embed?mid=1zVqU378kV7vtlP4hDFgr0LQIwijBhZbt" width="640" height="480"></iframe>
</div>
<!-- <h2>Nos ubicamos en: </h2><br>
<p>De Los Pinos 67-43, Las Liebres, 45623 San Pedro Tlaquepaque, Jal.</p> -->