<form ngNoForm  action="https://formspree.io/mjvaldnk" target="_blank" method="POST">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <input name="Nombre" type="text" class="form-control" id="inputOne" placeholder="Nombre">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input name="Apellido" type="text" class="form-control" id="inputTwo" placeholder="Apellido">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input name="Correo" type="email" class="form-control" id="inputThree" placeholder="Correo">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input name="Compañia" type="text" class="form-control" id="inputFour" placeholder="Nombre de la compañía">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <input name="Numero" type="number" class="form-control" id="inputFive"
                    placeholder="Numero (opcional)">
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn primary-btn full-width">Contactar</button>
        </div>

    </div>
</form>