<div class="container section" > 
    <!--Inicio del codigo para la barra-->
    
    
    <div  class="container-fluid" class="navbar lime lighten-5" >
        <a class="sidenav-trigger" data-target="menu-side" href="">
            <img class="responsive-img" src="../../assets/logonatos.png" width="50" height="50" >
            </a> 
        
            <div>
            <!--Boton para iiciar sesion-->
            
            <a routerLink="Iniciar" class="waves-effect  text-white black  btn-small"><i class="material-icons left">keyboard_tab</i>Inicias Sesion</a>
    
            <!--boton de registrarse-->
            <a routerLink="Registrar" class="waves-effect text-white black btn-small"><i class="material-icons left">person_add</i>Registrarse</a>
        </div>
            
    </div>
    
    
    
    <ul class="sidenav" id="menu-side">
    
    <!--Fondo/Icono/Nombre/Correo-->
    <li>
    <div class="user-view"> 
    
    <div class="background">
    
    <img class="responsive-img" src="../../assets/fondo.jpg" alt="">
    </div>
    
    
    <!--Inicio primer ancla-->
    <a href="#"> 
    <img src="../../assets/icon.gif" alt="" class="circle">
    </a>
    <!--Final Pripera ancla-->
    
    
    
    
    <!--Inicio segunda ancla-->
    <a href="#">
    <span class="name white-text">Invitado</span>
    </a>
    <a href="#">
    <span class="email white-text">Ejemplo@gmail.com</span>
    </a>
    <!--Final segunda ancla-->
    </div>
    </li>
    
    <!--Final de   Fondo/Icono/Nombre/Correo-->
    
    <!--Inicio Segunda Seccion-->
    
    <li> 
    <a href="#" routerLink="Inicio">
    <i class="material-icons">home</i>
    Inicio
    </a>
    </li>
    <li>
        <a href="#" routerLink="Nosotros">
        <i class="material-icons">group</i>
        Nosotros
        </a>
    
        <li>
            <a href="#" routerLink="Ofertas"> 
            <i class="material-icons">attach_money</i>
            Ofertas
            </a>
    
            <li>
                <a href="#" routerLink="Catalogo">
                <i class="material-icons">import_contacts</i>
                    Catalogo
                </a>
    
            
            </li>
    
            <li>
                <a href="#" routerLink="Sugerencias">
                <i class="material-icons">hearing</i>
                Sugerencias
                </a>
    
            
            </li>
    
            <li>
                <a href="#" routerLink="Contacto">
                <i class="material-icons">local_phone</i>
                Contacto
                </a>
    
            
            </li>
    
            <div class="div divider"></div>
    
            <li>
                <a href="#" >
                <i class="material-icons">blur_linear</i>
                Tarimas
                </a>
    
            
            </li>
    
            <li>
                <a href="#" >
                <i class="material-icons">account_circle</i>
                Personal
                </a>
    
         </li>
    
        
    
            <br><br><br><br><br><br><br><br><br>
    
            <li>
                <a href="#" routerLink="Copy">
                <i class="material-icons">copyright</i>
                NATOS
                </a>
    
            
            </li>
    
    
    <!--Final Segunda Seccion-->
    
    
    
    
    
    
    
    
    
    </ul>
    <!--Final del codigo para la barra-->
    </div>